@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
  background-color: white;
  display: flex;
  font-family: "Gowun Dodum";
  /*기본 폰트 설정*/
  min-height: 100vh;
  margin: 0px;
}


/* Login Component */
.login_wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: rgb(220, 253, 242);
  padding: 50px;
  border-radius: 10px;

  display: flex;
  align-items:center;
  flex-direction: column;
}

.login_wrapper label {
  padding: 2px;
  font-size: 15pt;
}

.login_wrapper input {
  margin: 5px 0px 20px 0px;
}

.login_wrapper button {
  padding: 5px;
  margin-top: 10px;

  background-color: aquamarine;

  border: none;
  border-radius: 10px;

  font-family: "Gowun Dodum";
  font-size: 15pt;
  font-weight: bold;


  cursor: pointer;
}

.loginbtn {
  width: 200px;
}

.joinbtn {
  width: 200px;
}


/* Pages/RefrigeratorOpen */

.closePage {

  position: absolute;
  left: 40%;
  top: 15%;

  display: flex;
  flex-direction: column;
  vertical-align: middle;
}


.img_close img {
  height: 50vh;
}

.startBtn {
  width: 200px;
  height: 60px;
  margin: auto;
  display: block;

  background-color: aquamarine;

  border: none;
  border-radius: 10px;

  text-align: center;
  font-family: "Gowun Dodum";
  font-size: 15pt;
  font-weight: bold;

  cursor: pointer;
}

.open_goEdit {
  margin-top: 40px;
  cursor: pointer;
}

.plus {

  position: absolute;
  left: 39%;
  top: 18%;
  display: flex;
  height: 7%;

}


.img_open img {
  position: absolute;
  left: 30%;
  top: 15%;

  display: block;
  height: 70vh;
}

/* navigate */

.header {
  position: absolute;
  top: 2%;
  margin-bottom: 20px;
  display: flex;

}

.header_refrigerator {
  width: 20vw;
  font-family: "Gowun Dodum";
  background-color: aquamarine;
  cursor: pointer;

  border: none;
  border-radius: 10px;

  font-size: 15pt;
  font-weight: bold;
}

.header_Community {
  width: 20vw;
  font-family: "Gowun Dodum";
  background-color: rgb(220, 253, 242);
  cursor: pointer;

  border: none;
  border-radius: 10px;

  font-size: 15pt;
  font-weight: bold;
}

.header_Mypage {

  width: 20vw;
  font-family: "Gowun Dodum";
  background-color: aquamarine;
  cursor: pointer;

  border: none;
  border-radius: 10px;

  font-size: 15pt;
  font-weight: bold;
}

.header_userinfo {

  width: 40vw;

  font-family: "Gowun Dodum";
  background-color: rgb(220, 253, 242);

  border-radius: 10px;

  font-size: 15pt;
  font-weight: bold;

  text-align: center;
}

/*editor*/
.editor_body {

  position: absolute;
  left: 50%;
  top: 50%;

  width: 70%;
  transform: translate(-50%, -50%);

  background-color: rgb(220, 253, 242);
  padding: 50px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.MyButton {
  margin-top: 10px;
  margin-right: 10px;
  background-color: aquamarine;

  border: none;
  border-radius: 10px;

  font-family: "Gowun Dodum";
  font-size: 15pt;
  font-weight: bold;


  cursor: pointer;

}

/*Community*/
.community {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 80%;
  padding: 10px 0 30px 0;
  border-radius: 5px;
  margin-bottom : 50px;
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;

  font-family: "Gowun Dodum";
  font-size: 15pt;
  font-weight: bold;
}

.form-wrapper{
  width: 80%;
  margin: 0 auto;
}

.title-input {
  width: 500px;
  height: 40px;
  margin: 10px;
}

.text-area {
  width: 80%;
  min-height: 500px;
}

.submitbtn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  border: none;
  background: indianred;
  border-radius: 5px;

  font-family: "Gowun Dodum";
  font-size: 15pt;
  font-weight: bold;

  text-align: center;

  cursor: pointer;
}