@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
  background-color: #f6f6f6;
  display: flex;
  font-family: "Gowun Dodum";
  /*기본 폰트 설정*/
  min-height: 100vh;
  margin: 0px;
}


/* Login Component */
.login_wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: rgb(220, 253, 242);
  padding: 50px;
  border-radius: 10px;

  display: flex;
  align-items: center;
}

.login_wrapper label {
  padding: 2px;
  font-size: 15pt;
}

.login_wrapper input {
  margin: 5px 0px 20px 0px;
}

.login_wrapper button {
  padding: 5px;
  width: 90%;
  margin-left: 5%;

  background-color: aquamarine;

  border: none;
  border-radius: 10px;

  font-family: "Gowun Dodum";
  font-size: 15pt;
  font-weight: bold;


  cursor: pointer;
}

/* Pages/RefrigeratorOpen */

.closePage {

  position: absolute;
  left: 50%;
  top: 15%;

  display: flex;
  flex-direction: column;
  vertical-align: middle;
}


.img_close img {
  height: 50vh;
}

.startBtn {
  width: 200px;
  height: 60px;
  margin: auto;
  display: block;

  background-color: aquamarine;

  border: none;
  border-radius: 10px;

  text-align: center;
  font-family: "Gowun Dodum";
  font-size: 15pt;
  font-weight: bold;

  cursor: pointer;
}

.open_goEdit {
  margin-top: 40px;
}


.img_open img {
  position: absolute;
  left: 30%;
  top: 15%;

  display: flex;
  height: 70vh;
}

/* navigate */

.header {
  position: absolute;
  top: 2%;
  margin-bottom: 20px;
  display: flex;

}

.header_refrigerator {
  width: 20vw;
  font-family: "Gowun Dodum";
  background-color: aquamarine;
  cursor: pointer;

  border: none;
  border-radius: 10px;

  font-size: 15pt;
  font-weight: bold;
}

.header_Community {
  width: 20vw;
  font-family: "Gowun Dodum";
  background-color: rgb(220, 253, 242);
  cursor: pointer;

  border: none;
  border-radius: 10px;

  font-size: 15pt;
  font-weight: bold;
}

.header_Mypage {

  width: 20vw;
  font-family: "Gowun Dodum";
  background-color: aquamarine;
  cursor: pointer;

  border: none;
  border-radius: 10px;

  font-size: 15pt;
  font-weight: bold;
}

.header_userinfo {

  width: 40vw;

  font-family: "Gowun Dodum";
  background-color: rgb(220, 253, 242);

  border-radius: 10px;

  font-size: 15pt;
  font-weight: bold;

  text-align: center;
}